<div class="s-content__header col-full">
    <h1 class="s-content__header-title">
        Who wrote that song?
    </h1>
</div> <!-- end s-content__header -->

<div class="col-full s-content__main">

    <p>
        Welcome to the web interface for <i>Who wrote that song?</i>.  <i>Who wrote that song?</i> is a Recurrent Neural
        Network that has been trained to recognize the varying musial styles of various classical composers by analyzing
        their sheet music.  It was written in Python 3.6 using TensorFlow with Keras a wrapper.
    </p>

</div>
