<div class="row">

    <h3 class="add-bottom">Upload a MIDI file (*.mid)</h3>

    <p>
        Upload a MIDI file from your computer, and we will try to tell you who composed it.  If the piece you upload
        wasn't actually written by one of the composers we can recognize, it will tell you which composers it is most
        similar to.  <b>Important:</b> please ensure that your MIDI file is a 'type 1' file.  If you are not sure, you
        can use N-Audio's MIDI file converter.
    </p>

    <form action="midi.html" method="POST" enctype="multipart/form-data">
        <div>
            <label for="fileSelect">Upload a MIDI file:</label>
            <input class="btn--primary" name="file" type="file" placeholder="*.mid" id="fileSelect">
            <input class="btn--primary" type="submit" value="Upload">
        </div>
    </form>

</div>