<!--<div class="row">

    <h1>Contact</h1>

    <div class="row">

        <h3>Mark Evers</h3>

        <div class="col-six tab-full">
            <h3>Github</h3>

            <p>
                <a href="http://github.com/mevers303">http://github.com/mevers303</a>
            </p>
        </div>


        <div class="col-six tab-full">
            <h3>LinkedIn</h3>

            <p>
                <a href="http://linkedin.com/li/mevers303">http://linkedin.com/li/mevers303</a>
            </p>
        </div>

    </div>


</div>  -->


<div class="row narrow section-intro add-bottom text-center">

    <div class="col-twelve tab-full">

        <h1>Contact</h1>
        <h3>Mark Evers</h3>
        <img src="static/images/mark.jpg" />

        <div class="row">

            <div class="col-six tab-full">
                <h3>Github</h3>

                <p>
                    <a href="http://github.com/mevers303">http://github.com/mevers303</a>
                </p>
            </div>


            <div class="col-six tab-full">
                <h3>LinkedIn</h3>

                <p>
                    <a href="http://linkedin.com/li/mevers303">http://linkedin.com/li/mevers303</a>
                </p>
            </div>

        </div>

    </div>

</div>