{% set composers_full = ["Johann Sebastian Bach", "Ludwig van Beethoven", "Frédéric Chopin", "Claude Debussy", "Mauro Giuliani", "George Frideric Handel", "Philip Hayes", "John Hill Hewitt", "Wolfgang Amadeus Mozart", "Niccolò Paganini", "Domenico Scarlatti", "Franz Schubert", "Fernando Sor", "Pyotr Ilyich Tchaikovsky", "Ambroise Thomas", "Tui St. George Tucker", "Antonio Vivaldi", "Joseph Philbrick Webster"] %}
{% set prediction_full_name = composers_full[probs_i[0]] %}

<div class="s-content__header col-full">
    <h1 class="s-content__header-title">
        {{ prediction }} ({{ '{0:0.2f}'.format(probs[probs_i[0]] * 100) }}%)
    </h1>
    <div class="s-content__media col-full">
        <div class="s-content__post-thumb">
            <img src="static/images/{{ prediction }}.jpg" style="max-width:2000px; max-height:500px" />
        </div>
    </div>
</div> <!-- end s-content__header -->


<div class="col-full s-content__main add-bottom">

    <p>
        <b>{{ filename }}</b> is most similar to {{ prediction_full_name }}.  Here is the complete list of the file's similarity to our
        composers:
    </p>

    <h3>
        Similarity to other composers:
    </h3>

    <table>
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>Composer</th>
                <th>Probability</th>
            </tr>
        </thead>
        <tbody>
        {% for i in probs_i %}
            <tr>
                <td>{{ loop.index  }}</td>
                <td><img src="static/images/thumbnails/{{ composers[i] }}.jpg" style="padding:0px; margin:0px"/></td>
                <td>{{ composers[i] }}</td>
                <td>{{ '{0:0.2f}'.format(probs[i] * 100) }}%</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>


{% include "upload_form.html" %}