<div class="row">

    <h1 class="text-center">Try it!</h1>

    <h4>Upload a MIDI file</h4>
    <p>
        Upload a MIDI file from your computer, and we will try to tell you who composed it.  If the piece you upload
        wasn't actually written by one of the composers we can recognize, it will tell you which composers it is most
        similar to.  <b>Please note:</b> this website was designed for 'Type 1' MIDI files.  Results for 'Type 0' MIDI
        files will be unpredictable.  If you are not sure what kind of MIDI file you have, you can use
        <a href="https://github.com/naudio/NAudio/tree/master/MidiFileConverter">N-Audio's MIDI file converter</a>.
    </p>

    <form action="midi.html" method="POST" enctype="multipart/form-data">
        <div>
            <label for="fileSelect">Upload a MIDI file:</label>
            <input class="btn--primary" name="file" type="file" placeholder="*.mid" id="fileSelect">
            <input class="btn--primary" type="submit" value="Upload" onclick="$('#analyzing').show(); $('#loader').show(); $('#preloader').fadeIn('fast');">
        </div>
    </form>

    <h4>What is a MIDI file?</h4>
    <p>A MIDI file is essentially like sheet music for computers.  When people transcribe sheet music on a computer,
        the software they use is able to export their work as a .mid file.  To see it in action, all you have to do is
        upload one of these files below!  There are links to web archives where you can download .mid files for free to
        test it out if you do not have any .mid files handy.
    </p>

    <h4>Don't have any MIDI files?</h4>
    <p>
        There are many great resources on the web to download all sorts of MIDI files.  You can find many classical
        pieces and almost every popular song from every other genre with a little bit of browsing.  Check out these
        links to find a MIDI file to test out!
    </p>
    <ul>
        <li><a href="https://www.classicalarchives.com/midi.html">Classical Archives</a></li>
        <li><a href="https://www.midi.com.au/">Hit Trax</a></li>
        <li><a href="http://www.midiworld.com/files/">MIDI World</a></li>
        <li><a href="http://www.storth.com/music2006.htm">Rob's MIDI Library</a></li>
        <li><a href="https://www.reddit.com/r/WeAreTheMusicMakers/comments/3ajwe4/the_largest_midi_collection_on_the_internet/">midi_man's Reddit Post</a></li>
        <li><a href="https://www.vgmusic.com/">Video Game Music Archive</a></li>
    </ul>

</div>
